<nav class="w-full flex justify-content-between items-center p-4 bg-gray-900 text-white shadow-md">
  <!-- Logo y Bienvenida -->
  <div class="text-lg font-semibold">
    <span *ngIf="user()?.name; else fallback">
    Bienvenido: {{ user()?.name }}
    </span>
    <ng-template #fallback>
    Bienvenido: Usuario
    </ng-template>
  </div>

  <!-- Botón hamburguesa para móviles -->
  <div>
    <button class="md:hidden" (click)="toggleMenu()">
    <span class="material-icons text-3xl">menu</span>
  </button>

  <!-- Menú en desktop -->
  <ul class="hidden list-none md:flex gap-4 items-center">
    <li><a routerLink="/movies" class="hover:underline no-underline text-white text-blue-800">Películas</a></li>
    <li><a routerLink="/favorites" class="hover:underline no-underline text-white text-blue-800">Favoritos</a></li>
    <li><button (click)="logout()" class=" bg-purple-800 hover:underline text-white btn-close border-round-xl border-none">Cerrar sesión</button></li>
  </ul>
  <!-- Menú hamburguesa responsive -->
</div>
</nav>
<div *ngIf="menuOpen()" class="md:hidden bg-gray-800 text-white p-4 space-y-2">
  <a routerLink="/movies" class="block" (click)="toggleMenu()">Películas</a>
  <a routerLink="/favorites" class="block" (click)="toggleMenu()">Favoritos</a>
  <button (click)="logout()" class="block w-full text-left bg-purple-800">Cerrar sesión</button>
</div>

