<div class="min-h-screen surface-900 relative overflow-hidden">
  <div class="bg-pseudo flex justify-content-center align-items-center p-3">
    <div class="p-4 shadow-2 blur-card text-center w-full sm:w-30rem">
      <h2 class="text-2xl font-semibold mb-3">Verificación de Correo</h2>
  
      <ng-container *ngIf="loading">
        <p>Cargando...</p>
      </ng-container>
  
      <ng-container *ngIf="!loading">
        <p *ngIf="success" class="text-white-600 font-medium">{{ message }}</p>
        <p *ngIf="!success" class="text-white-500 font-medium">{{ message }}</p>
        <p *ngIf="success" class="text-center text-sm mt-3">
          ¿Empezamos?
          <a routerLink="" class="text-primary font-medium">Inicia sesión</a>
        </p>
        <p *ngIf="!success" class="text-center text-sm mt-3">
          ¿Problemas con le token?
          <a routerLink="" class="text-primary font-medium">Volver a enviar correo</a>
        </p>
        <p class="mt-4 text-primary font-medium">
          <a routerLink="" class="text-primary no-underline font-medium">Volver al Login</a>
        </p>
      </ng-container>
    </div>
  </div>
</div>
