<div class="relative shadow-md rounded overflow-hidden p-2">
  <img [src]="movie.Poster" alt="{{ movie.Title }}" class="img-movie" />
  <h3 class="text-lg font-semibold mb-1 title-op">{{ movie.Title }}</h3>
  <p class="text-sm text-gray-700">Año: {{ movie.Year }}</p>
  <p class="text-sm text-gray-700 mb-2">Tipo: {{ movie.Type }}</p>

  <!-- Ícono de eliminar si está en la lista de favoritos -->
  <div class="favorite-buttons absolute">
    <button
    *ngIf="isFavoriteList"
    class="favorite-icons text-gray-600 hover:text-red-600 border-none bg-none border-none"
    (click)="onDeleteClick()"
    title="Eliminar de favoritos"
  >
    <span class="material-icons text-2xl">delete</span>
    </button>
    <!-- Botón lápiz -->
    <button
      *ngIf="isFavoriteList"
      class="ml-2 favorite-icons text-gray-600 hover:text-blue-600 border-none bg-none"
      title="Calificar"
      (click)="openRating()"
    >
      <span class="material-icons bg-none text-2xl">edit</span>
    </button>
  


  <!-- Ícono de favorito si NO es la lista de favoritos -->
  <button
    *ngIf="!isFavoriteList && showFavorite"
    class="favorite-icons text-gray-600 hover:text-red-600 border-none bg-none border-none"
    (click)="onFavoriteClick()"
    title="Agregar a favoritos"
  >
    <span class="material-icons text-2xl">favorite_border</span>
  </button>
  </div>
</div>
